body,html{
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg, yellow, grey, yellow, black);
}
@font-face {
    font-family: "Julee-Regular";
    src: url(tools/font2/Julee-Regular.ttf);
}
h1{
    margin: 0;
    color: whitesmoke;
    font-family: "Julee-Regular", cursive;
}